
.header{
   display: flex;
   justify-content: space-between;
   margin: 2rem 6%; 
}

.logo{
  font-family: 'Water Brush', cursive;
  font-size: 1.2rem;
 }

 .icons span:first-child{
    margin-right: 1rem;
 }
 

.main {
  min-height: 100vh;
  margin: auto 6%;
}

